@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import "tailwindcss";
@import "@heroui/styles";

@theme {
  --font-sans: "Space Grotesk", sans-serif;
  --color-brand-primary: #3880ff;
  --color-brand-secondary: #3dc2ff;
  --color-brand-tertiary: #5260ff;
  --color-brand-success: #2dd36f;
  --color-brand-warning: #ffc409;
  --color-brand-danger: #eb445a;
  --color-brand-dark: #222428;
  --color-brand-medium: #92949c;
  --color-brand-light: #f4f5f8;
  --color-brand-bg: #ffffff;
  --color-brand-text: #131313;
}

:root {
  color-scheme: light;
  --app-bg-color: #ffffff;
  --app-text-color: #131313;
  font-family: "Space Grotesk", sans-serif;
  font-size: 16px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --app-bg-color: #121212;
    --app-text-color: #ffffff;
    --app-color-light: #222428;
    --app-color-dark: #f4f5f8;
    --app-color-danger: #ff4961;
  }
}

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  background-color: var(--app-bg-color);
  color: var(--app-text-color);
  font-family: "Space Grotesk", sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
}
