/* Shared theme variables used across the portfolio. */

@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Urbanist", sans-serif;
}

/* Shared app tokens */
:root {
  --app-color-primary: #3880ff;
  --app-color-secondary: #3dc2ff;
  --app-color-tertiary: #5260ff;
  --app-color-success: #2dd36f;
  --app-color-warning: #ffc409;
  --app-color-danger: #eb445a;
  --app-color-dark: #222428;
  --app-color-medium: #92949c;
  --app-color-light: #f4f5f8;
  --app-bg-color: #f6f4ef;
  --app-text-color: #131313;
}

@media (prefers-color-scheme: dark) {
  :root {
    --app-bg-color: #121212;
    --app-text-color: #ffffff;
    --app-color-light: #222428;
    --app-color-dark: #f4f5f8;
    --app-color-danger: #ff4961;
  }
}
